.btn-primary {
  color: #fff;
  background-color: #007bff;
  margin: 10px;
  border-color: #007bff;
}
.form-group {
  margin-bottom: 1rem;
  margin-left: 31%;
  max-width: 505;
  width: 38%;
}
.row {
  display: inline-block;
  margin-right: 11px;
  margin-left: 30%;
}

.col-6 {
  display: inline-grid;
  max-width: 50%;
}

.btn1 {
  display: inline;
}
.row {
  display: inline-grid;
  margin-right: 11px;
  width: 64%;
  margin-left: 30%;
}

h1 {
  text-align: center;
}
